.row {
  height: 100%;
  display: flex;
  align-items: center;
}

.title {
  color: aliceblue;
  text-align: center;
  text-shadow: 8px 10px 10px black;
}

#search-field {
  margin: 3px;

}

#searchButton {
  margin: 3px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
}

.active1 {
  width: 125px;
  color: rgb(253, 253, 253);
}

.active2 {
  width: 140px;
  color: rgb(253, 253, 253);
}

.btn:hover {
  color: white;
}
.btn {
  color: white;
}
.btn::after {
  color: white;
}
a {
  text-decoration: none;
}

body{
  background-image: url("https://images.pexels.com/photos/7244503/pexels-photo-7244503.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size:cover;  
  height: 100%;
  background-attachment: fixed;
  /*added prallex effect */
}


.opn{
  color: white;
  margin-top: 10px;
  text-align: center;
}

.opn a{
  color: white;
}

.opn a:hover{
  color: lightskyblue;
}

img {
  width: 100px;
  height: 100px;
}

.icon-div{
  float: right;
  margin-right: 4%;
}

.searchForm{
  width: 100%;
  text-align: center;
}

.conversions{
  
  width: 30%;
  display: inline-block;

}

input {
  color: white;
}